* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
  /* background-color: lightblue; */
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 100%;
}

header,
.search-container,
.current-container,
.forecast-container {
  background-color: lightskyblue;
  border-radius: 0.75em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.search-container {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.search-input-container {
  display: flex;
}

.search-history-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

/* .search-history {
    flex: 1;
  }*/

#clear-history {
  border: none;
  outline: none;
  padding: 0.25em 0;
  border-radius: 0.5em;
}

#search-field {
  padding: 0.5em;
  border-radius: 0.5em 0 0 0;
  outline: none;
  border: none;
  background-color: lightgray;
}

#submit-button {
  padding: 0 0.5em;
  border-radius: 0 0.5em 0 0;
  border: 0;
  overflow: hidden;
}

.search-history li:hover {
  background-color: lightgoldenrodyellow;
}

#search-field {
  width: 100%;
  position: relative;
}

.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  transform: translateY(1em);
}

.dropdown li {
  background-color: white;
  list-style: none;
}

.dropdown li:hover {
  background-color: lightgoldenrodyellow;
}

.search-history {
  display: none;
  background-color: white;
  padding: 0.25em;
  border-radius: 0 0 0.5em 0.5em;
}

.search-history li {
  list-style: none;
}

.weather-display-container {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.current-container {
  display: flex;
  flex-wrap: nowrap;
}

.current-info {
  flex: 1;
}

.curren-icon {
  flex: 1;
}

.current-container h2,
.current-container h3 {
  display: inline-block;
  margin: 0 0.25em;
}

.current-title {
  display: flex;
  flex-wrap: nowrap;
}

.current-container span {
  display: inline-block;
  padding: 0 0.25em;
  margin: 0 0.25em;
}

.forecast-container {
}

.forecast-cards {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  display: none;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

@media screen and (min-width: 768px) {
  .search-history {
    display: block;
  }

  .weather-display-container {
    padding-left: 0.5em;
  }

  .content {
    flex-direction: row;
  }

  .card {
    display: none;
    width: 19%;
  }

  .forecast-cards {
    flex-direction: row;
    justify-content: space-between;
  }
}
