* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  background-color: lightblue;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.search-container {
  flex: 1;
}

.search-input-container {
  display: flex;
}

#search-field {
  width: 100%;
}

.search-history {
  display: none;
}

.weather-display-container {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.current-container {
  display: flex;
  flex-wrap: nowrap;
}

.current-info {
  flex: 1;
}

.curren-icon {
  flex: 1;
}

.current-container h2,
.current-container h3 {
  display: inline-block;
  margin: 0 0.25em;
}

.current-title {
  display: flex;
  flex-wrap: nowrap;
}

.current-container span {
  display: inline-block;
  padding: 0 0.25em;
  margin: 0 0.25em;
}

.forecast-cards {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .search-history {
    display: block;
  }

  .weather-display-container {
    padding-left: 1em;
  }

  .content {
    flex-direction: row;
  }

  .card {
    width: 19%;
  }

  .forecast-cards {
    flex-direction: row;
    justify-content: space-between;
  }
}
