* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid black; */
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5em;
}

header {
  text-align: center;
  width: 100%;
}

header,
.search-container,
.current-container,
.forecast-container {
  background-color: lightskyblue;
  border-radius: 0.75em;
  padding: 0.5em;
  margin-top: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.search-container {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.search-input-container {
  display: flex;
}

.search-history-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

/* .search-history {
    flex: 1;
  }*/

#clear-history {
  border: none;
  outline: none;
  padding: 0.5em 0;
  border-radius: 0.5em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}

#search-field {
  padding: 1em;
  border-radius: 0.5em 0 0 0.5em;
  font-size: larger;
  outline: none;
  border: none;
  background-color: lightgray;
}

#submit-button {
  padding: 0.5em 0.75em;
  font-size: x-large;
  border-radius: 0 0.5em 0.5em 0;
  border: 0;
  overflow: hidden;
}

.search-history li:hover {
  background-color: lightgoldenrodyellow;
}

#search-field {
  width: 100%;
  position: relative;
}

.dropdown {
  position: absolute;
  display: none;
  width: calc(100% - (6em));
  transform: translate(0.5em, 3.75em);
  line-height: 1.1;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 0.5em 0.5em;
}

.dropdown li {
  list-style: none;
  padding: 0.5em;
  font-size: 0.9em;
}

.dropdown li:not(:last-child) {
  border-bottom: 0.5px solid black;
}

.dropdown li:hover {
  background-color: lightgoldenrodyellow;
}

.search-history {
  display: none;
  background-color: white;
  padding: 0.25em;
  border-radius: 0 0 0.5em 0.5em;
}

.search-history li {
  list-style: none;
}

.weather-display-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.current-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.current-title .date {
  font-size: medium;
}

.current-container {
  display: flex;
  flex-wrap: wrap;
}

.current-info {
  flex: 1;
}

.current-icon {
  flex: 1;
}

.current-container h2,
.current-container h3 {
  display: inline-block;
  margin: 0 0.25em;
}

.current-title {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.current-container span {
  display: inline-block;
  padding: 0 0.25em;
  margin: 0 0.25em;
}

.forecast-cards {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  /* display: none; */
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.forecast-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.forecast-line {
  display: inline-block;
  margin: 0.5em 0;
}

.forecast-icon {
  text-align: center;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .search-history {
    display: block;
  }

  .search-history li {
    list-style: none;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
  }

  .search-history li:not(:last-child) {
    border-bottom: 0.5px solid black;
  }

  #search-field {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.5em 0 0 0;
  }

  #submit-button {
    font-size: 1em;
    padding: 0 0.5em;
    border-radius: 0 0.5em 0 0;
  }

  .dropdown {
    width: calc(33% - 7em);
    max-width: 260px;
    transform: translate(0, 2em);
  }

  .dropdown li {
    font-size: 0.8em;
  }

  #clear-history {
    padding: 0.25em 0;
  }

  .forecast-line {
    display: inline-block;
    margin: 0 0;
  }

  .forecast-info span {
    font-size: 0.75em;
  }

  .weather-display-container {
    padding-left: 0.5em;
  }

  .content {
    flex-direction: row;
  }

  .card {
    width: 19%;
    margin-bottom: 0;
    flex-direction: column;
  }

  .forecast-cards {
    flex-direction: row;
    justify-content: space-between;
  }
}
